<section class="l-footer">
    <div class="footer">
        <div class="footer__contacts"> 
            //= ./contacts-footer.html
        </div>
        <div class="footer__social">
            <a href="#"><img src="./img/icon-inst-w.svg" alt=""></a>
            <a href="#"><img src="./img/icon-facebook-w.svg" alt=""></a>
            <a href="#"><img src="./img/icon-youtube-w.svg" alt=""></a>
        </div>
        <div class="footer__line">
            <a href="/"><img src="./img/firetag-logo-orange.svg" alt=""></a> 
            //= ./footer-menu.html
        </div>
    </div>
    <div class="footer-projects">
        <a href="#">
            <ins><img src="./img/project-logo-1.svg" alt=""></ins>
            <span>LASERWAR</span>
        </a>
        <a href="#">
            <ins><img src="./img/project-logo-2.svg" alt=""></ins>
            <span>CyberTag</span>
        </a>
        <a href="#">
            <ins><img src="./img/project-logo-3.svg" alt=""></ins>
            <span>LaserArena</span>
        </a>
        <a href="#">
            <ins><img src="./img/project-logo-4.svg" alt=""></ins>
            <span>Майские <br> маневры</span>
        </a>
        <a href="#">
            <ins><img src="./img/project-logo-5.svg" alt=""></ins>
            <span>Laserwar CRM</span>
        </a>
        <a href="#">
            <ins><img src="./img/project-logo-6.svg" alt=""></ins>
            <span>Biathlon</span>
        </a>
        <a href="#">
            <ins><img src="./img/project-logo-7.svg" alt=""></ins>
            <span>ZombieTag</span>
        </a>
        <a href="#">
            <ins><img src="./img/project-logo-8.svg" alt=""></ins>
            <span>Федерация <br> лазертага</span>
        </a>
        <a href="#">
            <ins><img src="./img/project-logo-9.svg" alt=""></ins>
            <span>AlphaTag</span>
        </a>
        <a href="#">
            <ins><img src="./img/project-logo-10.svg" alt=""></ins>
            <span>Base</span>
        </a>
    </div>
</section>