<div class="promo promo--header">
    <div class="promo__header">
        <div class="promo__header-inner">
            <div class="promo__sandwich js-sidebar-show"><img src="./img/sandwich-black.svg" alt=""></div>
            <nav class="header-menu">
                <div class="header-menu__item"><a href="#">Laser tag блок</a></div>
                <div class="header-menu__item">
                    <a href="#">Firetag <ins></ins></a>
                    <ul class="header-menu__dropdown">
                        <li><a href="#">Что такое FireTag?</a></li>
                        <li><a href="#">Как люди играют в FireTag?</a></li>
                        <li><a href="#">Карта FireTag клубов</a></li>
                        <li><a href="#">Сколько стоит игра?</a></li>
                        <li><a href="#">Где в него играют? </a></li>
                        <li><a href="#">Почему это интересно?</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="header-menu__item"><a href="#">Стоимость</a></div>
                <div class="header-menu__item"><a href="#">Контакты</a></div>
            </nav>
            <a class="promo__btn" href="#">Интернет-магазин</a>
            <a href="/" class="promo__logo">
                <img src="./img/firetag-logo-orange.svg" alt="">
            </a>
        </div>
    </div>
</div>