<div class="contacts contacts--footer">
    <div class="contacts__title">Информационный центр</div>
    <div class="contacts__contacts">
        <a href="tel:+78005518802">+7 800 551 88 02</a>
        <span>•</span>
        <a href="mailto:sale@laserwar.ru">sale@laserwar.ru</a>
    </div>
    <div class="contacts__managers">
        <div class="contacts__manager">
            <div class="contacts__manager-name">Вадим <span>Менеджер</span></div>
            <p><a href="tel:+79043691333">+7 904 369-1333</a></p>
            <p><a href="mailto:service@laserwar.com">service@laserwar.com</a></p>
        </div>
        <div class="contacts__manager">
            <div class="contacts__manager-name">Алина <span>Менеджер</span></div>
            <p><a href="tel:+74951337220 ">+7 495 133-7220</a></p>
            <p><a href="mailto:Info@laserwar.ru">Info@laserwar.ru</a></p>
        </div>
    </div>
</div>