<div class="cost-benefits">
    <div class="cost-benefits__text"> 
        //= ./title-content-block-3.html
    </div>
    <div class="cost-benefits__items">
        <div class="cost-benefits__item">
            <img src="./img/cost-benefits-pic-1.svg" alt="">
            <div class="cost-benefits__item-content">
                <h3>Продукция напрямую от&nbsp;производителя</h3>
                <p>Мы&nbsp;контролируем каждый этап производства. У&nbsp;нас свои производственные площади, станки, 3D-принтеры, линии для автомонтажа плат. Всё это позволяет обеспечить стабильное качество. Вы&nbsp;получаете лучшие технологии по&nbsp;разумной цене.</p>
            </div>
        </div>
        <div class="cost-benefits__item">
            <img src="./img/cost-benefits-pic-2.svg" alt="">
            <div class="cost-benefits__item-content">
                <h3>Помощь на&nbsp;всех этапах</h3>
                <p>Покупая оборудование у&nbsp;нас, вы&nbsp;можете рассчитывать на&nbsp;техподдержку 24/7, консультации по&nbsp;организации клуба и&nbsp;дополнительные услуги по&nbsp;ведению бизнеса: проектирование полигона, CRM-систему для прокатных клубов, рекламные материалы для оформления клуба.</p>
            </div>
        </div>
        <div class="cost-benefits__item">
            <img src="./img/cost-benefits-pic-3.svg" alt="">
            <div class="cost-benefits__item-content">
                <h3>Быстрая окупаемость</h3>
                <p>Инвестиции на&nbsp;покупку оборудования и&nbsp;оснащение площадки окупаются в&nbsp;среднем за&nbsp;период от&nbsp;трёх до&nbsp;двенадцати месяцев. Это подтверждает опыт наших клиентов.</p>
            </div>
        </div>
        <div class="cost-benefits__item">
            <img src="./img/cost-benefits-pic-4.svg" alt="">
            <div class="cost-benefits__item-content">
                <h3>Реалистичное оборудование</h3>
                <p>Вы&nbsp;прикоснётесь к&nbsp;известным на&nbsp;весь мир моделям автоматам Калашникова&nbsp;&mdash; классике отечественного вооружения.</p>
            </div>
        </div>
    </div>
</div>