<div class="cost-benefits">
    <div class="cost-benefits__text">
        //= ./title-content-block-3.html
    </div>
    <div class="cost-benefits__items">
        <div class="cost-benefits__item">
            <img src="./img/cost-benefits-pic-1.svg" alt="">
            <div class="cost-benefits__item-content">
                <h3>Продукция напрямую от производителя</h3>
                <p>Мы контролируем каждый этап производства. У нас свои производственные площади, станки, 3D-принтеры, линии для автомонтажа плат. Всё это позволяет обеспечить стабильное качество. Вы получаете лучшие технологии по разумной цене.</p>
            </div>
        </div>
        <div class="cost-benefits__item">
            <img src="./img/cost-benefits-pic-2.svg" alt="">
            <div class="cost-benefits__item-content">
                <h3>Помощь на всех этапах</h3>
                <p>Покупая оборудование у нас, вы можете рассчитывать на техподдержку 24/7, консультации по организации клуба и дополнительные услуги по ведению бизнеса: проектирование полигона, CRM-систему для прокатных клубов, рекламные материалы для оформления клуба.</p>
            </div>
        </div>
        <div class="cost-benefits__item">
            <img src="./img/cost-benefits-pic-3.svg" alt="">
            <div class="cost-benefits__item-content">
                <h3>Быстрая окупаемость</h3>
                <p>Инвестиции на покупку оборудования и оснащение площадки окупаются в среднем за период от трёх до двенадцати месяцев. Это подтверждает опыт наших клиентов.</p>
            </div>
        </div>
        <div class="cost-benefits__item">
            <img src="./img/cost-benefits-pic-4.svg" alt="">
            <div class="cost-benefits__item-content">
                <h3>Реалистичное оборудование</h3>
                <p>Вы прикоснётесь к известным на весь мир моделям автоматам Калашникова — классике отечественного вооружения.</p>
            </div>
        </div>
    </div>
</div>