<div class="cost">
    <div class="cost__pic">
        <picture>
            <source srcset='./img/cost-pic.webp' type='image/webp'>
            <source srcset='./img/cost-pic.jpg' type='image/jpeg'>
            <img src='./img/cost-pic.jpg' alt=''>
        </picture>
    </div>
    <div class="cost__cost">
        <div class="cost__cost-price">25&nbsp;000&nbsp;<span class="b-ruble-font">Р</span></div>
        <div class="cost__cost-text">Стоимость <br> на&nbsp;время предзаказа</div>
    </div>
    <div class="cost__info">
        <div class="cost__info-buy">
            <a href="#" class="b-button">В&nbsp;интернет-магазин</a>
            <p>Закажите первыми по&nbsp;лучшей цене! Начните бизнес с&nbsp;максимальной выгодой.</p>
        </div>
        <div class="cost__info-content">
            //= ./contacts.html
        </div>
    </div>
</div>