<div class="details-page">
    <div class="details-page__header">
        <h1>Большой потрясающий заголовок вот такой длины</h1>
        <div class="details-page__header-item">Дата&nbsp;<strong>12 Февраля 2021</strong></div>
        <div class="details-page__header-item">Категория <strong>Спортивные соревнования</strong></div>
    </div>
    <div class="details-page__pic">
        <picture>
            <source srcset='./img/content-pic-1.webp' type='image/webp'>
            <source srcset='./img/content-pic-1.jpg' type='image/jpeg'>
            <img src='./img/content-pic-1.jpg' alt=''>
        </picture>
    </div>
    <div class="details-page__content">
        <div class="details-page__content-intro">
            <p>With every new model, smartphones get more powerful&nbsp;&mdash; they get additional functionalities, additional sensors and additional ways for mobile applications to&nbsp;maximize that potential.</p>
        </div>
        <p>As&nbsp;technology advances, mobile screens get better, batteries last longer, cameras on&nbsp;your phones get almost as&nbsp;good as&nbsp;the ones on&nbsp;standalone DSLRs... Add to&nbsp;that a&nbsp;variety of&nbsp;different touch, motion, sound, wireless and other sensors that became the standard in&nbsp;most smartphones, and you get yourself a&nbsp;giant list of&nbsp;available functions you can utilize. And that list keeps on&nbsp;growing every time a&nbsp;new smartphone is&nbsp;introduced.</p>
        <p>A&nbsp;large number of&nbsp;powerful features that simplify everyday tasks is&nbsp;always a&nbsp;plus for users, but if&nbsp;you&rsquo;re in&nbsp;the process of&nbsp;creating a&nbsp;for your business, choosing the right features from that list can be&nbsp;quite challenging. That&rsquo;s why&nbsp;I decided to&nbsp;write this blog and cover a&nbsp;couple of&nbsp;the more popular options, as&nbsp;well as&nbsp;the ways your business can profit from them.</p>
        <h2>When the phone screen is&nbsp;just not enough</h2>
        <p>As&nbsp;technology advances, mobile screens get better, batteries last longer, cameras on&nbsp;your phones get almost as&nbsp;good as&nbsp;the ones on&nbsp;standalone DSLRs... Add to&nbsp;that a&nbsp;variety of&nbsp;different touch, motion, sound, wireless and other sensors that became the standard in&nbsp;most smartphones, and you get yourself a&nbsp;giant list of&nbsp;available functions you can utilize. And that list keeps on&nbsp;growing every time a&nbsp;new smartphone is&nbsp;introduced.</p>
        <p>A&nbsp;large number of&nbsp;powerful features that simplify everyday tasks is&nbsp;always a&nbsp;plus for users, but if&nbsp;you&rsquo;re in&nbsp;the process of&nbsp;creating a&nbsp;for your business, choosing the right features from that list can be&nbsp;quite challenging. That&rsquo;s why&nbsp;I decided to&nbsp;write this blog and cover a&nbsp;couple of&nbsp;the more popular options, as&nbsp;well as&nbsp;the ways your business can profit from them.</p>
        <h3>1. Microphones</h3>
        <p>As&nbsp;technology advances, mobile screens get better, batteries last longer, cameras on&nbsp;your phones get almost as&nbsp;good as&nbsp;the ones on&nbsp;standalone DSLRs... Add to&nbsp;that a&nbsp;variety of&nbsp;different touch, motion, sound, wireless and other sensors that became the standard in&nbsp;most smartphones, and you get yourself a&nbsp;giant list of&nbsp;available functions you can utilize. And that list keeps on&nbsp;growing every time a&nbsp;new smartphone is&nbsp;introduced.</p>
        <p>A&nbsp;large number of&nbsp;powerful features that simplify everyday tasks is&nbsp;always a&nbsp;plus for users, but if&nbsp;you&rsquo;re in&nbsp;the process of&nbsp;creating a&nbsp;for your business, choosing the right features from that list can be&nbsp;quite challenging. That&rsquo;s why&nbsp;I decided to&nbsp;write this blog and cover a&nbsp;couple of&nbsp;the more popular options, as&nbsp;well as&nbsp;the ways your business can profit from them.</p>
        <picture>
            <source srcset='./img/content-pic-2.webp' type='image/webp'>
            <source srcset='./img/content-pic-2.jpg' type='image/jpeg'>
            <img src='./img/content-pic-2.jpg' alt=''>
        </picture>
        <div class="details-page__content-outro">
            <p>They can recognize text, translate them instantly, or&nbsp;convert offline documents into digital ones. Many offline to&nbsp;online conversions happen via camera. Just imagine, you&rsquo;re organizing an&nbsp;offline promo event and use an&nbsp;application to&nbsp;record guest attendance digitally. It&rsquo;s fast and easy&nbsp;&mdash; just place a&nbsp;QR code registration point at&nbsp;your venue and users can check in&nbsp;just by&nbsp;scanning the code.</p>
        </div>
    </div>
</div>