<div class="details-page">
    <div class="details-page__header">
        <h1>Большой потрясающий заголовок вот такой длины</h1>
        <div class="details-page__header-item">Дата <strong>12 Февраля 2021</strong></div>
        <div class="details-page__header-item">Категория <strong>Спортивные соревнования</strong></div>
    </div>
    <div class="details-page__pic">
        <picture>
            <source srcset='./img/content-pic-1.webp' type='image/webp'>
            <source srcset='./img/content-pic-1.jpg' type='image/jpeg'>
            <img src='./img/content-pic-1.jpg' alt=''>
        </picture>
    </div>
    <div class="details-page__content">
        <div class="details-page__content-intro">
            <p>With every new model, smartphones get more powerful – they get additional functionalities, additional sensors and additional ways for mobile applications to maximize that potential.</p>
        </div>
        <p>As technology advances, mobile screens get better, batteries last longer, cameras on your phones get almost as good as the ones on standalone DSLRs… Add to that a variety of different touch, motion, sound, wireless and other sensors that became the standard in most smartphones, and you get yourself a giant list of available functions you can utilize. And that list keeps on growing every time a new smartphone is introduced.</p>
        <p>A large number of powerful features that simplify everyday tasks is always a plus for users, but if you're in the process of creating a for your business, choosing the right features from that list can be quite challenging. That's why I decided to write this blog and cover a couple of the more popular options, as well as the ways your business can profit from them.</p>
        <h2>When the phone screen is just not enough</h2>
        <p>As technology advances, mobile screens get better, batteries last longer, cameras on your phones get almost as good as the ones on standalone DSLRs… Add to that a variety of different touch, motion, sound, wireless and other sensors that became the standard in most smartphones, and you get yourself a giant list of available functions you can utilize. And that list keeps on growing every time a new smartphone is introduced.</p>
        <p>A large number of powerful features that simplify everyday tasks is always a plus for users, but if you're in the process of creating a for your business, choosing the right features from that list can be quite challenging. That's why I decided to write this blog and cover a couple of the more popular options, as well as the ways your business can profit from them.</p>
        <h3>1. Microphones</h3>
        <p>As technology advances, mobile screens get better, batteries last longer, cameras on your phones get almost as good as the ones on standalone DSLRs… Add to that a variety of different touch, motion, sound, wireless and other sensors that became the standard in most smartphones, and you get yourself a giant list of available functions you can utilize. And that list keeps on growing every time a new smartphone is introduced.</p>
        <p>A large number of powerful features that simplify everyday tasks is always a plus for users, but if you're in the process of creating a for your business, choosing the right features from that list can be quite challenging. That's why I decided to write this blog and cover a couple of the more popular options, as well as the ways your business can profit from them.</p>
        <picture>
            <source srcset='./img/content-pic-2.webp' type='image/webp'>
            <source srcset='./img/content-pic-2.jpg' type='image/jpeg'>
            <img src='./img/content-pic-2.jpg' alt=''>
        </picture>
        <div class="details-page__content-outro">
            <p>They can recognize text, translate them instantly, or convert offline documents into digital ones. Many offline to online conversions happen via camera. Just imagine, you're organizing an offline promo event and use an application to record guest attendance digitally. It's fast and easy – just place a QR code registration point at your venue and users can check in just by scanning the code.</p>
        </div>
    </div>
</div>