<div class="form">
    <div class="form__inner">
        <h2>Получить коммерческое предложение или бесплатную консультацию</h2>
        <form>
            <div class="form__items">
                <div class="form__item">
                    <input type="text" placeholder="Имя">
                </div>
                <div class="form__item">
                    <input type="tel" placeholder="Телефон">
                </div>
                <div class="form__item">
                    <input type="email" placeholder="Email">
                </div>
                <div class="form__item">
                    <button class="b-button">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>