<div class="gun-benefits">
    <picture class="gun-benefits__pic">
        <source srcset='./img/benefits-pic.webp' type='image/webp'>
        <source srcset='./img/benefits-pic.jpg' type='image/jpeg'>
        <img src='./img/benefits-pic.jpg' alt=''>
    </picture>
    <div class="gun-benefits__items">
        <div class="gun-benefits__item">
            <h2>Модульность и&nbsp;удобство</h2>
            <p>В фаертаге вы можете использовать любое количество датчиков поражения — от 2 до 6. Компактный блок управления крепится на оружии.</p>
        </div>
        <div class="gun-benefits__item">
            <h2>Жилет, повязка или каска?</h2>
            <p>Вы сами выбираете, куда крепить датчики поражения и какую экипировку надевать на игру.</p>
        </div>
        <div class="gun-benefits__item">
            <h2>Приоритет электроники </h2>
            <p>В фаертаге выстрелы распознает управляющий блок на оружии. Поэтому не требуется интегрировать электронику внутрь оружия. </p>
        </div>
    </div>
</div>