<div class="gun">
    <div class="gun__text">
        //= ./title-content-block-6.html
    </div>
    <div class="gun__gun">
        <div class="gun__pic">
            <div class="gun__pic-laser"></div>
            <picture>
                <source srcset='./img/gun-pic.webp' type='image/webp'>
                <source srcset='./img/gun-pic.png' type='image/png'>
                <img src='./img/gun-pic.png' alt=''>
            </picture>
        </div>
        <div class="gun__content">
            <p>Firetag&nbsp;&mdash; это система оборудования для военной-тактической игры, имитирующей боевые действия. Игроки используют охолощенное оружие, стреляющее холостыми патронами. Вместо поражающего элемента&nbsp;&mdash; ИК-импульс, который улавливают специальные датчики. Выстрелы без ранений. Война без потерь. Максимальный реализм. Вот что такое Firetag.</p>
            <div class="gun__video">
                <a href="#"><img src="./img/icon-video.svg" alt="">Смотреть видео</a>
            </div>
        </div>
    </div>
    <div class="gun__text">
        //= ./title-content-block-5.html
    </div>
</div>