<div class="inside">
    <div class="inside__text">
        //= ./title-content-block-4.html
    </div>
    <div class="inside__pic">
        <picture>
            <source srcset='./img/inside-pic.webp' type='image/webp'>
            <source srcset='./img/inside-pic.jpg' type='image/jpeg'>
            <img src='./img/inside-pic.jpg' alt=''>
        </picture>
    </div>
    <div class="inside__collapse">
        <div class="inside__collapse-title js-collapse-title">Характеристики и&nbsp;спецификация <span></span></div>
        <div class="inside__collapse-content js-collapse-content">
            <ul>
                <li><strong>Основные характеристики</strong></li>
                <li>Масса с&nbsp;элементом питания, г&nbsp;&mdash; ~200</li>
                <li>Элемент питания&nbsp;&mdash; один элемент типоразмера 123А (3,0&nbsp;В)</li>
                <li>Время непрерывной работы устройства, ч&nbsp;&mdash; 6</li>
                <li>Габаритные размеры (длина&times;ширина&times;высота), мм, не&nbsp;более&nbsp;&mdash; 117&times;71&times;40</li>
                <li>Диапазон рабочих температур, &deg;С&nbsp;&mdash; от&nbsp;минус 40&nbsp;до&nbsp;плюс 60&deg;С</li>
            </ul>
            <ul>
                <p><strong>Видимый лазер</strong></p>
                <li>Длина волны, нм&nbsp;&mdash; 605-665</li>
                <li>Мощность лазера, мВт&nbsp;&mdash; 4.0 (по&nbsp;классификаций опасности лазера&nbsp;&mdash; 3А)</li>
                <li>Размер пятна целеуказателя, мм, в&nbsp;зависимости от&nbsp;дистанции, м&nbsp;&mdash; 25мм&nbsp;/ 50м; 50мм&nbsp;/ 100м</li>
            </ul>
            <ul>
                <p><strong>Инфракрасный лазер</strong></p>
                <li>Длина волны, нм&nbsp;&mdash; 820-850</li>
                <li>Мощность лазера при минимальной мощности, мВт&nbsp;&mdash; 0.6 (по&nbsp;классификаций опасности лазера&nbsp;&mdash; 1)</li>
                <li>Мощность лазера при максимальной мощности, мВт&nbsp;&mdash; 25&nbsp;(по&nbsp;классификаций опасности лазера&nbsp;&mdash; 3В)</li>
                <li>Расходимость излучения, мрад&nbsp;&mdash; 0,5</li>
                <li>Дистанция работы лазера при минимальной мощности, м&nbsp;&mdash; &gt;600</li>
                <li>Дистанция работы лазера при максимальной мощности, м&nbsp;&mdash; &gt;2000</li>
            </ul>
        </div>
    </div>
</div>