<div class="inside">
    <div class="inside__text"> 
        //= ./title-content-block-4.html
    </div>
    <div class="inside__pic">
        <picture>
            <source srcset='./img/inside-pic.webp' type='image/webp'>
            <source srcset='./img/inside-pic.jpg' type='image/jpeg'>
            <img src='./img/inside-pic.jpg' alt=''>
        </picture>
    </div>
    <div class="inside__collapse">
        <div class="inside__collapse-title js-collapse-title">Характеристики и спецификация <span></span></div>
        <div class="inside__collapse-content js-collapse-content">
            <ul>
                <li><strong>Основные характеристики</strong></li>
                <li>Масса с элементом питания, г – ~200</li>
                <li>Элемент питания – один элемент типоразмера 123А (3,0 В)</li>
                <li>Время непрерывной работы устройства, ч – 6</li>
                <li>Габаритные размеры (длина&times;ширина&times;высота), мм, не более – 117&times;71&times;40</li>
                <li>Диапазон рабочих температур, °С – от минус 40 до плюс 60°С</li>
            </ul>
            <ul>
                <p><strong>Видимый лазер</strong></p>
                <li>Длина волны, нм – 605-665</li>
                <li>Мощность лазера, мВт – 4.0 (по классификаций опасности лазера – 3А)</li>
                <li>Размер пятна целеуказателя, мм, в зависимости от дистанции, м – 25мм / 50м; 50мм / 100м</li>
            </ul>
            <ul>
                <p><strong>Инфракрасный лазер</strong></p>
                <li>Длина волны, нм – 820-850</li>
                <li>Мощность лазера при минимальной мощности, мВт – 0.6 (по классификаций опасности лазера – 1)</li>
                <li>Мощность лазера при максимальной мощности, мВт – 25 (по классификаций опасности лазера – 3В)</li>
                <li>Расходимость излучения, мрад – 0,5</li>
                <li>Дистанция работы лазера при минимальной мощности, м – >600</li>
                <li>Дистанция работы лазера при максимальной мощности, м – >2000</li>
            </ul>
        </div>
    </div>
</div>