<div class="news">
    <h2>Новости и блог</h2>
    <div class="news__items">
        <div class="news__item">
            <div class="news__pic">
                <a href="#">
                    <picture>
                        <source srcset='./img/news-pic-1.webp' type='image/webp'>
                        <source srcset='./img/news-pic-1.jpg' type='image/jpeg'>
                        <img src='./img/news-pic-1.jpg' alt=''>
                    </picture>
                </a>
            </div>
            <div class="news__date">18.03.2021</div>
            <div class="news__title"><a href="#">Заголовок новости вот такоооой длинный что даже на другую строчку вот</a></div>
        </div>
        <div class="news__item">
            <div class="news__pic">
                <a href="#">
                    <picture>
                        <source srcset='./img/news-pic-2.webp' type='image/webp'>
                        <source srcset='./img/news-pic-2.jpg' type='image/jpeg'>
                        <img src='./img/news-pic-2.jpg' alt=''>
                    </picture>
                </a>
            </div>
            <div class="news__date">18.03.2021</div>
            <div class="news__title"><a href="#">Заголовок новости вот такоооой длинный что даже на другую строчку вот</a></div>
        </div>
    </div>
</div>