<div class="numbers">
    <img src="./img/numbers-map.svg"alt="Карта мира">
    <div class="numbers__items">
        <div class="numbers__item">
            <img class="" src="./img/number-pic-1.svg" alt="">
            <span>83</span>
            <p>стран-<br>покупателей</p>
        </div>
        <div class="numbers__item">
            <img class="" src="./img/number-pic-2.svg" alt="">
            <span>58</span>
            <p>дилерских<br>и сервисных<br>центров</p>
        </div>
        <div class="numbers__item">
            <img class="" src="./img/number-pic-3.svg" alt="">
            <span>135</span>
            <p>моделей<br>оборудования</p>
        </div>
        <div class="numbers__item">
            <img class="" src="./img/number-pic-4.svg" alt="">
            <span>3064+</span>
            <p>официальных<br>клубов</p>
        </div>
        <div class="numbers__item">
            <img class="" src="./img/number-pic-5.svg" alt="">
            <span>24176</span>
            <p>выполненных<br>заказов</p>
        </div>
    </div>
</div>