<div class="promo">
    <div class="promo__header">
        <div class="promo__header-inner">
            <div class="promo__sandwich js-sidebar-show"><img src="./img/sandwich.svg" alt=""></div>
            <nav class="header-menu">
                <div class="header-menu__item"><a href="#">Laser tag блок</a></div>
                <div class="header-menu__item">
                    <a href="#">Firetag <ins></ins></a>
                    <ul class="header-menu__dropdown">
                        <li><a href="#">Что такое FireTag?</a></li>
                        <li><a href="#">Как люди играют в FireTag?</a></li>
                        <li><a href="#">Карта FireTag клубов</a></li>
                        <li><a href="#">Сколько стоит игра?</a></li>
                        <li><a href="#">Где в него играют? </a></li>
                        <li><a href="#">Почему это интересно?</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="header-menu__item"><a href="#">Стоимость</a></div>
                <div class="header-menu__item"><a href="#">Контакты</a></div>
            </nav>
            <a class="promo__btn" href="#">Интернет-магазин</a>
            <a href="/" class="promo__logo">
                <img src="./img/firetag-logo.svg" alt="">
            </a>
        </div>
    </div>
    <picture class="promo__pic">
        <source srcset='./img/promo-bg.webp' type='image/webp'>
        <source srcset='./img/promo-bg.png' type='image/png'>
        <img src='./img/promo-bg.png' alt=''>
    </picture>
    <div class="promo__content">
        <p>Laser tag expansion</p>
        <img src="./img/promo-firetag.svg" alt="">
        <p><a class="promo__btn-orange" href="#">Интернет-магазин</a></p>
    </div>
    <div class="promo__social">
        <a href="#"><img src="./img/icon-inst.svg" alt=""></a>
        <a href="#"><img src="./img/icon-facebook.svg" alt=""></a>
        <a href="#"><img src="./img/icon-youtube.svg" alt=""></a>
    </div>
    <div class="promo__seemore">
        <span class="js-scroll-to" data-target=".js-seemore-block"><img src="./img/semore-arrow.svg" alt=""> See more</span>
    </div>
</div>