<div class="scenario js-tabacc">
    <div class="scenario__inner">
        <div class="scenario__block">
            <div class="scenario__nav-title"> Сценарии Firetag: миссия выполнима </div>
            <div class="scenario__nav">
                <div class="scenario__nav-item active js-tabacc-title" data-tabid="sturm"><span>Штурм</span></div>
                <div class="scenario__nav-item js-tabacc-title" data-tabid="hostage"><span>Спасение заложника</span></div>
                <div class="scenario__nav-item js-tabacc-title" data-tabid="bond"><span>Наследие Бонда</span></div>
                <div class="scenario__nav-item js-tabacc-title" data-tabid="escape"><span>Побег</span></div>
                <div class="scenario__nav-item js-tabacc-title" data-tabid="flag"><span>Захват флага</span></div>
                <div class="scenario__nav-item js-tabacc-title" data-tabid="team"><span>Командная битва</span></div>
            </div>
        </div>
        <div class="scenario__items">
            <div class="scenario__item">
                <div class="scenario__content active show js-tabacc-content" data-tabcontent="sturm">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario-pic.webp' type='image/webp'>
                            <source srcset='./img/scenario-pic.jpg' type='image/jpeg'>
                            <img src='./img/scenario-pic.jpg' alt=''>
                        </picture>
                    </div>
                    <p>1&nbsp;Одна команда занимает здание или высоту. Второй команде необходимо взять объект штурмом и&nbsp;уничтожить всех бойцов противника. Для победы команда штурмовиков должна уничтожить противника и&nbsp;занять здание или высоту до&nbsp;конца игрового раунда, команде обороняющихся необходимо продержаться на&nbsp;позиции и&nbsp;выжить до&nbsp;конца игры.Одна команда занимает</p>
                </div>
            </div>
            <div class="scenario__item">
                <div class="scenario__content js-tabacc-content" data-tabcontent="hostage">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario-pic.webp' type='image/webp'>
                            <source srcset='./img/scenario-pic.jpg' type='image/jpeg'>
                            <img src='./img/scenario-pic.jpg' alt=''>
                        </picture>
                    </div>
                    <p>2&nbsp;Одна команда занимает здание или высоту. Второй команде необходимо взять объект штурмом и&nbsp;уничтожить всех бойцов противника. Для победы команда штурмовиков должна уничтожить противника и&nbsp;занять здание или высоту до&nbsp;конца игрового раунда, команде обороняющихся необходимо продержаться на&nbsp;позиции и&nbsp;выжить до&nbsp;конца игры.Одна команда занимает</p>
                </div>
            </div>
            <div class="scenario__item">
                <div class="scenario__content js-tabacc-content" data-tabcontent="bond">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario-pic.webp' type='image/webp'>
                            <source srcset='./img/scenario-pic.jpg' type='image/jpeg'>
                            <img src='./img/scenario-pic.jpg' alt=''>
                        </picture>
                    </div>
                    <p>3&nbsp;Одна команда занимает здание или высоту. Второй команде необходимо взять объект штурмом и&nbsp;уничтожить всех бойцов противника. Для победы команда штурмовиков должна уничтожить противника и&nbsp;занять здание или высоту до&nbsp;конца игрового раунда, команде обороняющихся необходимо продержаться на&nbsp;позиции и&nbsp;выжить до&nbsp;конца игры.Одна команда занимает</p>
                </div>
            </div>
            <div class="scenario__item">
                <div class="scenario__content js-tabacc-content" data-tabcontent="escape">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario-pic.webp' type='image/webp'>
                            <source srcset='./img/scenario-pic.jpg' type='image/jpeg'>
                            <img src='./img/scenario-pic.jpg' alt=''>
                        </picture>
                    </div>
                    <p>4&nbsp;Одна команда занимает здание или высоту. Второй команде необходимо взять объект штурмом и&nbsp;уничтожить всех бойцов противника. Для победы команда штурмовиков должна уничтожить противника и&nbsp;занять здание или высоту до&nbsp;конца игрового раунда, команде обороняющихся необходимо продержаться на&nbsp;позиции и&nbsp;выжить до&nbsp;конца игры.Одна команда занимает</p>
                </div>
            </div>
            <div class="scenario__item">
                <div class="scenario__content js-tabacc-content" data-tabcontent="flag">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario-pic.webp' type='image/webp'>
                            <source srcset='./img/scenario-pic.jpg' type='image/jpeg'>
                            <img src='./img/scenario-pic.jpg' alt=''>
                        </picture>
                    </div>
                    <p>5&nbsp;Одна команда занимает здание или высоту. Второй команде необходимо взять объект штурмом и&nbsp;уничтожить всех бойцов противника. Для победы команда штурмовиков должна уничтожить противника и&nbsp;занять здание или высоту до&nbsp;конца игрового раунда, команде обороняющихся необходимо продержаться на&nbsp;позиции и&nbsp;выжить до&nbsp;конца игры.Одна команда занимает</p>
                </div>
            </div>
            <div class="scenario__item">
                <div class="scenario__content js-tabacc-content" data-tabcontent="team">
                    <div class="scenario__pic">
                        <picture>
                            <source srcset='./img/scenario-pic.webp' type='image/webp'>
                            <source srcset='./img/scenario-pic.jpg' type='image/jpeg'>
                            <img src='./img/scenario-pic.jpg' alt=''>
                        </picture>
                    </div>
                    <p>6&nbsp;Одна команда занимает здание или высоту. Второй команде необходимо взять объект штурмом и&nbsp;уничтожить всех бойцов противника. Для победы команда штурмовиков должна уничтожить противника и&nbsp;занять здание или высоту до&nbsp;конца игрового раунда, команде обороняющихся необходимо продержаться на&nbsp;позиции и&nbsp;выжить до&nbsp;конца игры.Одна команда занимает</p>
                </div>
            </div>
        </div>
    </div>
</div>