<nav class="sidebar__menu">
    <ul class="sidebar__menu-level-1 js-menu-main">
        <li class="sidebar__menu-item-1">
            <span><a href="#">Laser tag блок</a></span>
        </li>
        <li class="sidebar__menu-item-1 js-menu-item">
            <span><a href="#">Firetag</a><ins></ins></span>
            <ul class="sidebar__menu-level-2 js-menu-next">
                <li class="sidebar__menu-item-2"><span><a href="#">Что такое FireTag?</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Как люди играют в FireTag?</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Карта FireTag клубов</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Сколько стоит игра?</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Где в него играют? </a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">Почему это интересно?</a></span></li>
                <li class="sidebar__menu-item-2"><span><a href="#">FAQ</a></span></li>
            </ul>
        </li>
        <li class="sidebar__menu-item-1">
            <span><a href="#">Стоимость</a></span>
        </li>
        <li class="sidebar__menu-item-1">
            <span><a href="#">Контакты</a></span>
        </li>
    </ul>
</nav>