<div class="title-content">
    <div class="title-content__title">
        <h2>Как это работает?</h2>
    </div>
    <div class="title-content__content">
        <p>Охолощенное оружие&nbsp;&mdash; это списанные боевые образцы, которые особым образом деактивировали. Для их&nbsp;изготовления используют сталь, оружейный пластик, дерево. Они не&nbsp;стреляют боевыми патронами, но&nbsp;реалистично имитируют выстрел, подавать свето-шумовые сигналы. Игроки ощущают в&nbsp;руках тяжесть настоящего оружия, но&nbsp;не&nbsp;могут навредить себе и&nbsp;другим. </p>
    </div>
</div>