<div class="title-content">
    <div class="title-content__title">
        <h2>Как мы работаем</h2>
    </div>
    <div class="title-content__content">
        <ol class="ol">
            <li>Разрабатываем электронику.</li>
            <li>Тестируем электронные компоненты на работоспособность.</li>
            <li>Отливаем пластиковые корпуса управляющих блоков и датчиков поражения. </li>
            <li>Устанавливаем блоки на охолощенное оружие и интегрируем электронику в датчики поражения.</li>
            <li>Загружаем прошивки, тестируем работоспособность макета, проверяем работу электронных компонентов и связь с датчиками поражения.</li>
            <li>Упаковываем заказ, прикладываем техническую документацию.</li>
            <li>Отправляем посылку клиенту.</li>
        </ol>
    </div>
</div>