<div class="title-content">
    <div class="title-content__title">
        <h2>Как мы&nbsp;работаем</h2>
    </div>
    <div class="title-content__content">
        <ol class="ol">
            <li>Разрабатываем электронику.</li>
            <li>Тестируем электронные компоненты на&nbsp;работоспособность.</li>
            <li>Отливаем пластиковые корпуса управляющих блоков и&nbsp;датчиков поражения. </li>
            <li>Устанавливаем блоки на&nbsp;охолощенное оружие и&nbsp;интегрируем электронику в&nbsp;датчики поражения.</li>
            <li>Загружаем прошивки, тестируем работоспособность макета, проверяем работу электронных компонентов и&nbsp;связь с&nbsp;датчиками поражения.</li>
            <li>Упаковываем заказ, прикладываем техническую документацию.</li>
            <li>Отправляем посылку клиенту.</li>
        </ol>
    </div>
</div>