.gun-benefits {
    margin: auto;
    margin-bottom: 3rem;
    max-width: 102.4rem;

    @media (min-width: $breakpoint-tablet) {
        margin-bottom: 5rem;
    }
    @media (min-width: $breakpoint-desktop) {
        margin-bottom: 8rem;
    }

    &__pic {
        padding-bottom: 6rem;
        display: block;

        img {
            max-width: 100%;
        }
    }

    &__items {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__item {
        padding-top: 2rem;
        padding-bottom: 4rem;
        border-top: 1px solid $color-white-30p;

        @media (min-width: $breakpoint-tablet) {
            border-top: 1px solid $color-white;
            width: calc(50% - 5rem);
        }
        @media (min-width: $breakpoint-desktop) {
            width: calc(33.33% - 5rem);
        }
    }
}